<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutGap="10px">
    <span>
      <a routerLink="" class="link">Philson</a>
    </span>
    <span>
      <a routerLink="/blog" class="link">Blog</a>
    </span>
    <span fxFlex="100%"></span>
    <span>
      <a routerLink="/login" class="link" *ngIf="!isLoggedIn()">Sign in</a>
    </span>
    <span>
      <a [matMenuTriggerFor]="menu" class="link" *ngIf="isLoggedIn()">{{ getUsername() }}</a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="doLogout()">Logout</button>
      </mat-menu>   
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

        