<h1 class="title" class="mat-headline">Categories</h1>
<mat-card class="mat-typography">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         Product Reviews
      </mat-panel-title>
      <!-- <mat-panel-description>
        Type your name and age
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="5px">
      <span><a href="" >Good offers</a></span>
      <span><a href="" >Satisfied deals</a></span>
      <span><a href="" >Bad deals</a></span>
    </div>
  </mat-expansion-panel>
</mat-accordion>        
<!-- <mat-divider></mat-divider> -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <!-- <mat-panel-description>
        Type your name and age
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>item1</mat-list-item>
      <mat-list-item>item2</mat-list-item>
      <mat-list-item>item3</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>     
<!-- <mat-divider></mat-divider> -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <!-- <mat-panel-description>
        Type your name and age
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>item1</mat-list-item>
      <mat-list-item>item2</mat-list-item>
      <mat-list-item>item3</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>     
</mat-card>