<mat-card class="mat-typography">
<mat-accordion *ngFor="let category of categories">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         {{ category.name }}
      </mat-panel-title>
      <!-- <mat-panel-description>
        Type your name and age
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="5px">
      <span *ngFor="let item of category.children">
        <a [routerLink]="['/blog/categories', item._id]" >{{ item.name }}</a>
      </span>
    </div>
  </mat-expansion-panel>
</mat-accordion>         
</mat-card>