<div class="container">
  <mat-card>
    <p class="mat-display-1">Already a member? Please
      <a routerLink="/login">Log in</a> Instead
    </p>
    <form (submit)="onRegisterSubmit()" fxLayout="column" fxLayoutAlign="center">
      <div role="alert" class="alert alert-danger" *ngIf="formErrors">{{formErrors}}</div>
      <mat-form-field class="col-12 col-md-8">
        <input matInput type="text" 
              [(ngModel)]="credentials.name"
              class="form-control" 
              id="name"
              name="name"
              placeholder="Enter your name">
      </mat-form-field>
      <mat-form-field class="col-12 col-md-8">
        <input matInput type="text"
              [(ngModel)]="credentials.email"
              class="form-control" 
              id="email"
              name="email"
              placeholder="Enter your email">
      </mat-form-field>        
      <mat-form-field class="col-12 col-md-8">
          <input matInput type="text"
                [(ngModel)]="credentials.password"
                class="form-control" 
                id="password"
                name="password"
                placeholder="e.g 12+ alphanumerics">
      </mat-form-field>
      <button type="submit" role="button" class="btn btn-primary col-12 col-sm-2">Register!</button>
    </form>
  </mat-card>
</div>